.markdownBody {
  @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap");

  h1,
  h2 {
    border-bottom: 8px solid var(--chakra-colors-gray-300);
  }
  h1 {
    font-size: var(--chakra-fontSizes-5xl);
  }
  h2 {
    font-size: var(--chakra-fontSizes-4xl);
  }
  h3 {
    font-size: var(--chakra-fontSizes-3xl);
  }
  h4 {
    font-size: var(--chakra-fontSizes-2xl);
  }
  h5 {
    font-size: var(--chakra-fontSizes-xl);
  }
  h6 {
    font-size: var(--chakra-fontSizes-lg);
  }
  blockquote {
    border-left: 6px solid var(--chakra-colors-gray-300);
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  a {
    color: var(--chakra-colors-blue-500);
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  p {
    font-size: var(--fontSize-2);
  }
  code,
  pre,
  code,
  kbd,
  pre,
  .blob-code-inner {
    font-family: "JetBrains Mono", monospace;
  }

  // details {
  //   display: block;
  // }

  // summary {
  //   display: list-item;
  // }

  a {
    background-color: initial;
  }

  a:active,
  a:hover {
    outline-width: 0;
  }

  strong {
    font-weight: inherit;
    font-weight: bolder;
  }

  h1 {
    margin: 0.67em 0;
  }

  img {
    border-style: none;
  }

  hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
  }

  input {
    font: inherit;
    margin: 0;
  }

  input {
    overflow: visible;
  }

  [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  a {
    color: #0366d6;
  }

  a:hover {
    text-decoration: underline;
  }

  strong {
    font-weight: 600;
  }

  hr:after,
  hr:before {
    display: table;
    content: "";
  }

  hr:after {
    clear: both;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0;
  }

  blockquote {
    padding-left: 16px;
  }
  details summary {
    cursor: pointer;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;

    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }

  hr {
    border-bottom-color: #eee;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;

    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }

  blockquote > :first-child {
    margin-top: 0;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }

  h1,
  h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
  }

  ol,
  ul {
    padding-left: 2em;
  }

  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    word-wrap: break-all;
  }

  li > p {
    margin-top: 16px;
  }

  li + li {
    margin-top: 0.25em;
  }

  dl {
    padding: 0;
  }

  dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
  }

  dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
  }

  table th {
    font-weight: 600;
  }

  table td,
  table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
  }

  img[align="right"] {
    padding-left: 20px;
  }

  img[align="left"] {
    padding-right: 20px;
  }

  pre {
    word-wrap: normal;
  }

  pre > code {
    padding: 0;
    margin: 0;

    word-break: normal;
    white-space: pre;
    background: transparent;
  }
}
